<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.dev-blog.daily</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>cd /Users/wooki/project/git/wk/dev-blog &amp;&amp; /Users/wooki/.nvm/versions/node/v24.14.0/bin/npm run daily:linux:publish</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/wooki/.local/bin:/Users/wooki/.nvm/versions/node/v24.14.0/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>CLAUDE_BIN</key>
        <string>/Users/wooki/.local/bin/claude</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/wooki/project/git/wk/dev-blog/logs/daily/launchd.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/wooki/project/git/wk/dev-blog/logs/daily/launchd.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
